In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pathlib import Path

In [4]:
median_path = "Resources/median_household_income.csv"

median_df = pd.read_csv(median_path)

median_df.head()

        State Median Household Income 2018 Median Household Income 2023
0     Alabama                       49,900                       62,025
1      Alaska                       74,300                       84,210
2     Arizona                       59,200                       71,520
3    Arkansas                       47,100                       58,590
4  California                       75,300                       81,045

In [6]:
#Greatest Median Household Incomes

#2018 Greatest

state_max_2018 = median_df.loc[median_df["Median Household Income 2018"].idxmax(), "State"]
median_income_max_2018 = median_df["Median Household Income 2018"].max()

#2023 Greatest

state_max_2023 = median_df.loc[median_df["Median Household Income 2023"].idxmax(), "State"]
median_income_max_2023 = median_df["Median Household Income 2023"].max()

#Print Results


print(f" {state_max_2018} has the highest median income in 2018 at {median_income_max_2018}")
print(f" {state_max_2023} has the highest median income in 2023 at {median_income_max_2023}")

 Maryland has the highest median income in 2018 at 83,200
 Massachusetts has the highest median income in 2023 at 91,035

In [8]:
#Least Median Household Incomes

#2018 Least

state_min_2018 = median_df.loc[median_df["Median Household Income 2018"].idxmin(), "State"]
median_income_min_2018 = median_df["Median Household Income 2018"].min()


#2023 Least

state_min_2023 = median_df.loc[median_df["Median Household Income 2023"].idxmin(), "State"]
median_income_min_2023 = median_df["Median Household Income 2023"].min()



print(f" {state_min_2018} has the lowest median income in 2018 at {median_income_min_2018}")
print(f" {state_min_2023} has the lowest median income in 2023 at {median_income_min_2023}")

 West Virginia has the lowest median income in 2018 at 44,100
 Mississippi has the lowest median income in 2023 at 56,250