In [28]:
import pandas as pd
from pathlib import Path

In [29]:
merged_sheet = Path("Resources/Merged_sheet.csv")

merged_data = pd.read_csv(merged_sheet)

merged_data.head()

,State,Median center-based price: 2018,Median home-based price: 2018,Median price: 2018,Median center-based price: 2023,Median home-based price: 2023,Median price: 2023,Median Household Income 2018,Median Household Income 2023
0,Alabama,"6,415","5,370","5,892","7,551","6,321","6,936",49900,62025
1,Alaska,"11,702","8,115","9,908","13,773","9,552","11,663",74300,84210
2,Arizona,"9,094","5,550","7,322","10,704","6,532","8,618",59200,71520
3,Arkansas,"5,793","4,789","5,291","6,819","5,637","6,228",47100,58590
4,California,"12,085","10,451","11,268","14,225","12,301","13,263",75300,81045

In [50]:
Tenn_median_2018 = merged_data.loc[merged_data["State"] == "Tennessee", "Median price: 2018"]
price_2018 = Tenn_median_2018.values[0]

Tenn_median_2023 = merged_data.loc[merged_data["State"] == "Tennessee", "Median price: 2023"]
price_2023 = Tenn_median_2023.values[0]

print(f"Tennessee Median price in 2018 is ${price_2018}")
print(f"Tennessee Median price in 2023 is ${price_2023}")

Tennessee Median price in 2018 is $6,559
Tennessee Median price in 2023 is $7,720

In [59]:
df = pd.read_csv('Resources/childcare_data.csv', thousands=',')

df = df.dropna(subset=['Median price: 2018'])
df = df.dropna(subset=['Median price: 2023'])

median_value_2018 = int(df['Median price: 2018'].median())
median_value_2023 = int(df['Median price: 2023'].median())

print(f"The median price of child care per child in all States in 2018 is: ${median_value_2018}")
print(f"The median price of child care per child in all States in 2023 is: ${median_value_2023}")

The median price of child care per child in all States in 2018 is: $7889
The median price of child care per child in all States in 2023 is: $9285