In [1]:
import pandas as pd
from pathlib import Path

In [5]:

childcare_data = Path("../Resources/childcare_data.csv")

# Reading csv file
childcare_data = pd.read_csv(childcare_data)

# An overview of data status
childcare_data.head()

,State,Median center-based price: 2018,Median home-based price: 2018,Median price: 2018,Median center-based price: 2023,Median home-based price: 2023,Median price: 2023
0,Alabama,"6,415","5,370","5,892","7,551","6,321","6,936"
1,Alaska,"11,702","8,115","9,908","13,773","9,552","11,663"
2,Arizona,"9,094","5,550","7,322","10,704","6,532","8,618"
3,Arkansas,"5,793","4,789","5,291","6,819","5,637","6,228"
4,California,"12,085","10,451","11,268","14,225","12,301","13,263"

In [56]:


df = pd.read_csv('../Resources/childcare_data.csv', thousands=',')
df = df.dropna(subset=['Median center-based price: 2018  '])
df = df.dropna(subset=['Median center-based price: 2023'])
df = df.dropna(subset=['Median home-based price: 2018'])
df = df.dropna(subset=['Median home-based price: 2023'])

median_value_2018 = int(df['Median center-based price: 2018  '].median())
median_value_2023 = int(df['Median center-based price: 2023'].median())
median_value_2018h = int(df['Median home-based price: 2018'].median())
median_value_2023h = int(df['Median home-based price: 2023'].median())

print(f"The median price of center-based child care per child in all States in 2018 is: ${median_value_2018}")
print(f"The median price of center-based child care per child in all States in 2023 is: ${median_value_2023}")
print(f"The median price of home-based child care per child in all States in 2018 is: ${median_value_2018h}")
print(f"The median price of home-based child care per child in all States in 2023 is: ${median_value_2023h}")

The median price of center-based child care per child in all States in 2018 is: $9094
The median price of center-based child care per child in all States in 2023 is: $10704
The median price of home-based child care per child in all States in 2018 is: $6861
The median price of home-based child care per child in all States in 2023 is: $8076

In [47]:
df.columns

Index(['State', 'Median center-based price: 2018  ',
       'Median home-based price: 2018', 'Median price: 2018',
       'Median center-based price: 2023', 'Median home-based price: 2023',
       'Median price: 2023'],
      dtype='object')

In [76]:

Tenn_median_2018 = childcare_data.loc[childcare_data["State"] == "Tennessee",'Median center-based price: 2018']
Tenn_median_2018h = childcare_data.loc[childcare_data["State"] == "Tennessee", "Median home-based price: 2018"]
price_2018 = Tenn_median_2018.values[0]
price_2018h = Tenn_median_2018h.values[0]
Tenn_median_2023 = childcare_data.loc[childcare_data["State"] == "Tennessee", "Median center-based price: 2023"]
Tenn_median_2023h = childcare_data.loc[childcare_data["State"] == "Tennessee", "Median home-based price: 2023"]
price_2023 = Tenn_median_2023.values[0]
price_2023h = Tenn_median_2023h.values[0]
print(f"Tennessee Median Center-based price in 2018 is ${price_2018}")
print(f"Tennessee Median Center-based price in 2023 is ${price_2023}")
print(f"Tennessee Median home-based price in 2018 is ${price_2018h}")
print(f"Tennessee Median home-based price in 2023 is ${price_2023h}")

Tennessee Median Center-based price in 2018 is $7,113
Tennessee Median Center-based price in 2023 is $8,372
Tennessee Median home-based price in 2018 is $6,005
Tennessee Median home-based price in 2023 is $7,068