In [22]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [23]:
# File to Load (Remember to Change These)
merged_sheet = Path("../Resources/Merged_sheet.csv")


# Read Merged Data into Pandas DataFrames
merged_data = pd.read_csv(merged_sheet)


# Combine the data into a single dataset.

merged_data.head()

,State,Median center-based price: 2018,Median home-based price: 2018,Median price: 2018,Median center-based price: 2023,Median home-based price: 2023,Median price: 2023,Median Household Income 2018,Median Household Income 2023
0,Alabama,"6,415","5,370","5,892","7,551","6,321","6,936",49900,62025
1,Alaska,"11,702","8,115","9,908","13,773","9,552","11,663",74300,84210
2,Arizona,"9,094","5,550","7,322","10,704","6,532","8,618",59200,71520
3,Arkansas,"5,793","4,789","5,291","6,819","5,637","6,228",47100,58590
4,California,"12,085","10,451","11,268","14,225","12,301","13,263",75300,81045

In [25]:
#Median Household Incomes

median_household_income_2018 = merged_data["Median Household Income 2018"].median()

median_household_income_2023 = merged_data["Median Household Income 2023"].median()

#Print Results

print(f" The average median household income in 2018 is {median_household_income_2018}")
print(f" The average median household income in 2023 is {median_household_income_2023}")

 The average median household income in 2018 is 59800.0
 The average median household income in 2023 is 70470.0

In [27]:
#Greatest Median Household Incomes

#2018 Greatest

state_max_2018 = merged_data.loc[merged_data["Median Household Income 2018"].idxmax(), "State"]
median_income_max_2018 = merged_data["Median Household Income 2018"].max()

#2023 Greatest

state_max_2023 = merged_data.loc[merged_data["Median Household Income 2023"].idxmax(), "State"]
median_income_max_2023 = merged_data["Median Household Income 2023"].max()

#Print Results


print(f" {state_max_2018} has the highest median income in 2018 at {median_income_max_2018}")
print(f" {state_max_2023} has the highest median income in 2023 at {median_income_max_2023}")

 Maryland has the highest median income in 2018 at 83200
 Massachusetts has the highest median income in 2023 at 91035

In [28]:
#Least Median Household Incomes

#2018 Least

state_min_2018 = merged_data.loc[merged_data["Median Household Income 2018"].idxmin(), "State"]
median_income_min_2018 = merged_data["Median Household Income 2018"].min()


#2023 Least

state_min_2023 = merged_data.loc[merged_data["Median Household Income 2023"].idxmin(), "State"]
median_income_min_2023 = merged_data["Median Household Income 2023"].min()



print(f" {state_min_2018} has the lowest median income in 2018 at {median_income_min_2018}")
print(f" {state_min_2023} has the lowest median income in 2023 at {median_income_min_2023}")

 West Virginia has the lowest median income in 2018 at 44100
 Mississippi has the lowest median income in 2023 at 56250

In [31]:
#State of Tennessee

#2018 Least

Tenn_median_2018 = merged_data.loc[merged_data["State"] == "Tennessee", "Median Household Income 2018"]
income_2018 = 52400

#2023 Least

Tenn_median_2023 = merged_data.loc[merged_data["State"] == "Tennessee", "Median Household Income 2023"]
income_2023 = 65730


print(f" Tennessee's Median household income in 2018 is {income_2018}")
   
print(f" Tennessee's Median household income in 2023 is {income_2023}")

 Tennessee's Median household income in 2018 is 52400
 Tennessee's Median household income in 2023 is 65730