In [4]:
import pandas as pd
from pathlib import Path

In [6]:

childcare_data = Path("../Resources/childcare_data.csv")

# Reading csv file
merged_data = pd.read_csv(childcare_data)

# An overview of data status
merged_data.head()

,State,Median center-based price: 2018,Median home-based price: 2018,Median price: 2018,Median center-based price: 2023,Median home-based price: 2023,Median price: 2023
0,Alabama,"6,415","5,370","5,892","7,551","6,321","6,936"
1,Alaska,"11,702","8,115","9,908","13,773","9,552","11,663"
2,Arizona,"9,094","5,550","7,322","10,704","6,532","8,618"
3,Arkansas,"5,793","4,789","5,291","6,819","5,637","6,228"
4,California,"12,085","10,451","11,268","14,225","12,301","13,263"

In [ ]:
# Median Childcare Cost
median_center_based_childcare_cost_2018 = childcare_data["Median center-based price: 2018"].median()
median_home_based_childcare_cost_2023 = childcare_data["Median home-based price: 2023"].median()

# Print results